<header th:fragment="navbar">
    <h1>TrailAnywhere</h1>
    <nav>
        <ul>
            <li>
                <form method="GET" th:action="@{/}">
                    <button class="btn btn-light btn-lg">Trails</button>
                </form>
            </li>
            <li>
                <form method="GET" th:action="@{/CreateTrail}">
                    <button class="btn btn-light btn-lg">Create New Trail</button>
                </form>
            </li>
            <li>
                <form method="GET" th:action="@{/Favorites}">
                    <button class="btn btn-light btn-lg">Favorites</button>
                </form>
            </li>
        </ul>
    </nav>
</header>