<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrailFinder</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/topnav :: navbar}"></div>
<div th:replace="~{fragments/topnav :: login}"></div>

<h2>Create A Trail</h2>

<div class="container">
    <div id="trailMessage" class="alert d-none" role="alert">
        alert message
    </div>
    <form onsubmit="return validateForm()" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="trailName" name="search_query" placeholder="x" required>
            <label for="trailName">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="trailType" name="search_query" placeholder="x" required>
            <label for="trailType">Type</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="trailTerrain" name="search_query" placeholder="x" required>
            <label for="trailTerrain">Terrain</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="trailDifficulty" name="search_query" placeholder="x" required>
            <label for="trailDifficulty">Difficulty</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="trailAddress" name="search_query" placeholder="x" required>
            <label for="trailAddress">Address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="trailZipCode" name="search_query" placeholder="x" required>
            <label for="trailZipCode">Zip Code</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="trailLatitude" name="search_query" placeholder="x" required>
            <label for="trailLatitude">Latitude</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="trailLongitude" name="search_query" placeholder="x" required>
            <label for="trailLongitude">Longitude</label>
            <input type="submit" class="btn btn-success" value="Submit">
        </div>
    </form>
</div>

<script th:src="@{/js/LoginStatus.js}"></script>
<script th:src="@{/js/CreateTrail.js}"></script>
<script th:src="@{/js/TrailAutocomplete.js}"></script>
</body>
</html>
