<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            color: #212529;
            text-align: center;
            /* padding: 50px; */
        }

        .errorHeading {
            color: #dc3545;
        }

        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div th:replace="~{fragments/topnav :: navbar}"></div>
    <div th:replace="~{fragments/topnav :: login}"></div>

    <h1 class="errorHeading">Oops! Something went wrong.</h1>
    <p>We apologize for the inconvenience. Please try again later.</p>

    <script th:src="@{/js/LoginStatus.js}"></script>
    <script th:src="@{/js/TrailAutocomplete.js}"></script>
</body>
</html>