<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>TrailAnywhere</h1>
    <nav>
        <ul>
            <li>
                <form method="GET" th:action="@{/}">
                    <button>Trails</button>
                </form>
            </li>
            <li>
                <form method="GET" th:action="@{/Alerts}">
                    <button>Alerts</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<h2>Favorites</h2>

<!--Hard coded table for now, will be the SQL results from the DB-->
<table border="5"> <!-- Add a border for visualization -->
    <tr>
        <td>Zipcode</td>
        <td>Name</td>
        <td>Difficulty</td>
        <td>Type</td>
        <td>Address</td>
    </tr>
    <tr>
        <td>Results</td>
        <td>Results</td>
        <td>Results</td>
        <td>Results</td>
        <td>Results</td>
    </tr>
    <tr>
        <td>Results</td>
        <td>Results</td>
        <td>Results</td>
        <td>Results</td>
        <td>Results</td>
    </tr>
</table>

<h3>Add Favorite Trail</h3>

<div class="container">
    <form action="addFavoriteLogic.html" method="POST">
        <label>
            <input type="text" name="search_query" placeholder="Enter the name of the trail you want to add" required>
        </label>
        <label>
            <input type="text" name="search_query" placeholder="Enter the zipcode of the trail you want to add" required>
        </label>
        <input type="submit" value="Submit">
    </form>
</div>

<!-- Make the status indicator a clickable link -->
<!-- Need to make it so that when the user is not logged in, they see "Login" -->
<a th:href="@{/Login}" id="status-indicator" class="status-indicator">
    Status: <span id="status-text">Loading...</span>
    <span id="username-text"></span>
</a>

<script src="../static/js/LoginStatus.js"></script>
</body>
</html>
