<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrailFinder</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/topnav :: navbar}"></div>
<div th:replace="~{fragments/topnav :: login}"></div>

<h2>Trail Finder - Trail Zip Code Search</h2>

<div class="container">
    <form class="form-inline" action="#" th:action="@{/trailsByZipCode}"  method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Find trails by name, type, difficulty, or zip code" aria-label="Search"  name="searchTerm" id="floatingInput">
        <p>(Example: Stone Steps Loop, Hiking, Hard, 45215)</p>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<script th:src="@{/js/LoginStatus.js}"></script>
<script th:src="@{/js/TrailAutocomplete-ZipCode.js}"></script>

</body>
</html>